:root {
	
}

body {
  color: #fff;
  background: #17181c;
  font: 300 1em "Fira Sans", sans-serif;
  flex-flow:column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: flex;
}

.anime-grill-center {
  position:relative;
  margin-top:25px;
  
	width:950px;
	height:750px;
  
	overflow:hidden;
	display:flex;
	align-items:flex-start;
	justify-content:center;
	
	background:url(https://i.ibb.co/wL04NT8/img-fec8c9b21607582713-removebg.png);
	background-size:cover;
  
  filter:brightness(85%) contrast(120%);
	
  z-index:0;
}

.anime-grill-offcenter {
  position:absolute;
  margin-top:-190px;
    margin-left:30px;
  
  width:950px;
  height:750px;
  
  overflow:hidden;
  display:flex;
  align-items:flex-start;
  justify-content:center;
  
  background:url(https://i.ibb.co/wL04NT8/img-fec8c9b21607582713-removebg.png);
  background-size:cover;
  
  filter:brightness(5%) blur(3px);
  
  z-index:-1;
}

.text-lines {
  position:absolute;
  
	top:450px;
	font:800 100px/80px montserrat;
  
	text-transform:uppercase;
	color:transparent;
	-webkit-text-stroke:2px rgb(119, 250, 141);
}

.text-lines .line-2 {
	color:#eee;
	-webkit-text-stroke:0px #eee;
  text-shadow: 2px 3px 2px gray;
}

.site-body {
	width:1100px;
	background:#1a1a1a;
	padding:55px;
	font:1500 12px montserrat;
	color:#777;
	border-radius:5px;
	box-shadow:0px 0px 10px rgba(0,0,0,.15);
}

.effect8
{
  	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
	content:"";
    position:absolute;
    -webkit-box-shadow:0 0 20px rgb(119, 250, 141);
    -moz-box-shadow:0 0 20px rgb(119, 250, 141);
    box-shadow:0 0 20px rgb(119, 250, 141);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
  
    z-index:-1;
}
.effect8:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/*
버튼 구현 부분
https://developer.mozilla.org/en/docs/Web/CSS/box-shadow
box-shadow: [inset?] [top] [left] [blur] [size] [color];

Tips:
- We're setting all the blurs to 0 since we want a solid fill.
- Add the inset keyword so the box-shadow is on the inside of the element
- Animating the inset shadow on hover looks like the element is filling in from whatever side you specify ([top] and [left] accept negative values to become [bottom] and [right])
- Multiple shadows can be stacked
- If you're animating multiple shadows, be sure to keep the same number of shadows on hover/focus as non-hover/focus (even if you have to create a transparent shadow) so the animation is smooth. Otherwise, you'll get something choppy.
*/

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
.close:hover,
.close:focus {
  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.slide:hover,
.slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}

.offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset:hover, .offset:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}

.fill {
  --color: #a972cb;
  --hover: #cb72aa;
}

.pulse {
  --color: #ef6eae;
  --hover: #ef8f6e;
}

.close {
  --color: #ff7f82;
  --hover: #ffdc7f;
}

.raise {
  --color: #ffa260;
  --hover: #e5ff60;
}

.up {
  --color: #e4cb58;
  --hover: #94e458;
}

.slide {
  --color: #8fc866;
  --hover: #66c887;
}

.offset {
  --color: #19bc8b;
  --hover: #1973bc;
}

button {
  color: var(--color);
  transition: 0.25s;
}
button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

h1 {
  font-weight: 400;
}

code {
  color: #e4cb58;
  font: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important; 
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 115%;
  margin: auto;
  width: 90vw; }

.line {
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgb(44, 44, 44);
  overflow: hidden; }
  .line::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97); }
  .line:nth-child(1) {
    margin-left: -25%; }
    .line:nth-child(1)::after {
      animation-delay: 2s; }
  .line:nth-child(3) {
    margin-left: 25%; }
    .line:nth-child(3)::after {
      animation-delay: 2.5s; }
  .line:nth-child(4) {
    margin-left: 50%; }
    .line:nth-child(4)::after{
      animation-delay: 3s; }
  .line:nth-child(2) {
    margin-left: -50%;}
    .line:nth-child(2)::after{
      animation-delay: 3.5s;}

@keyframes drop {
  0% {
    top: -50%; }
  100% {
    top: 110%; } }
  *, *:after, *:before {
    box-sizing: border-box;
}