body {
	background:rgb(44, 44, 44);
	display:flex;
	flex-flow:column wrap;
	align-items:center;
	justify-content:flex-start;
}

:root {
	
}

.anime-grill-center {
	width:950px;
	margin-top:25px;
	height:750px;
	overflow:hidden;
	display:flex;
	align-items:flex-start;
	justify-content:center;
	
	background:url(https://i.ibb.co/wL04NT8/img-fec8c9b21607582713-removebg.png);
	background-size:cover;
	position:relative;
    filter:brightness(85%);
	z-index:0;
}


.anime-grill-offcenter {
	position:absolute;
	margin-top:40px;
	width:950px;
	height:750px;
	overflow:hidden;
	display:flex;
	align-items:flex-start;
	justify-content:center;
	background:url(https://i.ibb.co/wL04NT8/img-fec8c9b21607582713-removebg.png);
	background-size:cover;
	margin-left:30px;
	z-index:-1;
	filter:brightness(10%);
}

.text-lines {
	position:absolute;
	top:450px;
	font:900 100px/80px montserrat;
	text-transform:uppercase;
	color:transparent;
	-webkit-text-stroke:1px rgb(119, 250, 141);
	
}

.text-lines .line-2 {
	color:#eee;
	-webkit-text-stroke:0px #eee;
}

.site-body {
	width:1150px;
	background:#1a1a1a;
	padding:50px;
	font:600 12px montserrat;
	color:#777;
	border-radius:5px;
	box-shadow:0px 0px 10px rgba(0,0,0,.15);
}