<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Pyro</title>
</head>

<body>
    <div class="container">
        <div class="row row-cols-3">

            <div class="col">
                <div class="card" style="width: 21rem; margin-top: 50px;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">호두</h5>
                        <p class="card-text">이런 저런 설명</p>

                        <p>
                            <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1"
                                role="button" aria-expanded="false" aria-controls="multiCollapseExample1">스펙입력</a>
                        </p>
                        <div class="row">
                            <div class="col">
                                <div class="card" style="width: 8rem;">
                                    <div class="card-header">
                                        스펙
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">체력 : </li>
                                        <li class="list-group-item">치확 : </li>
                                        <li class="list-group-item">치피 : </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col">
                                <div class="collapse multi-collapse" id="multiCollapseExample1">
                                    <div class="card card-body">
                                        <!-- 여기서 부터 입력란 -->
                                        <form action="/chractor/pyro" method="post">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text">체력</span>
                                                <input type="text" name="MainOptions" class="form-control"
                                                    aria-label="Sizing example input"
                                                    aria-describedby="inputGroup-sizing-sm">
                                            </div>
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text">치확</span>
                                                <input type="text" name="CriticalHitProbability" class="form-control"
                                                    aria-label="Sizing example input"
                                                    aria-describedby="inputGroup-sizing-sm">
                                            </div>
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text">치피</span>
                                                <input type="text" name="FatalDamage" class="form-control"
                                                    aria-label="Sizing example input"
                                                    aria-describedby="inputGroup-sizing-sm">
                                            </div>
                                            <button type="submit" class="btn btn-success">입력</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- <div class="col">
                <div class="card" style="width: 21rem; margin-top: 50px;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">다이루크</h5>
                        <p class="card-text">이런 저런 설명</p>

                        <p>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#multiCollapseExample2" aria-expanded="false"
                                aria-controls="multiCollapseExample2">스펙입력</button>
                        </p>
                        <div class="row">
                            <div class="col">
                                <div class="card" style="width: 8rem;">
                                    <div class="card-header">
                                        스펙
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">공격력 : </li>
                                        <li class="list-group-item">치확 : </li>
                                        <li class="list-group-item">치피 : </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col">
                                <div class="collapse multi-collapse" id="multiCollapseExample2">
                                    <div class="card card-body">
                                        <form>
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">공격력</span>
                                                <input type="text" class="form-control"
                                                    aria-label="Sizing example input"
                                                    aria-describedby="inputGroup-sizing-sm">
                                            </div>
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">치확</span>
                                                <input type="text" class="form-control"
                                                    aria-label="Sizing example input"
                                                    aria-describedby="inputGroup-sizing-sm">
                                            </div>
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">치피</span>
                                                <input type="text" class="form-control"
                                                    aria-label="Sizing example input"
                                                    aria-describedby="inputGroup-sizing-sm">
                                            </div>
                                            <button type="button" class="btn btn-success">입력</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 21rem; margin-top: 50px;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">클레</h5>
                        <p class="card-text">이런 저런 설명</p>

                        <p>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#multiCollapseExample3" aria-expanded="false"
                                aria-controls="multiCollapseExample3">스펙입력</button>
                        </p>
                        <div class="row">
                            <div class="col">
                                <div class="card" style="width: 8rem;">
                                    <div class="card-header">
                                        스펙
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">공격력 : </li>
                                        <li class="list-group-item">치확 : </li>
                                        <li class="list-group-item">치피 : </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col">
                                <div class="collapse multi-collapse" id="multiCollapseExample3">
                                    <div class="card card-body">
                                        <form>
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">공격력</span>
                                                <input type="text" class="form-control"
                                                    aria-label="Sizing example input"
                                                    aria-describedby="inputGroup-sizing-sm">
                                            </div>
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">치확</span>
                                                <input type="text" class="form-control"
                                                    aria-label="Sizing example input"
                                                    aria-describedby="inputGroup-sizing-sm">
                                            </div>
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">치피</span>
                                                <input type="text" class="form-control"
                                                    aria-label="Sizing example input"
                                                    aria-describedby="inputGroup-sizing-sm">
                                            </div>
                                            <button type="button" class="btn btn-success">입력</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 21rem; margin-top: 50px;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">베넷</h5>
                        <p class="card-text">이런 저런 설명</p>

                        <p>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#multiCollapseExample4" aria-expanded="false"
                                aria-controls="multiCollapseExample4">스펙입력</button>
                        </p>
                        <div class="row">
                            <div class="col">
                                <div class="card" style="width: 8rem;">
                                    <div class="card-header">
                                        스펙
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">공격력 : </li>
                                        <li class="list-group-item">치확 : </li>
                                        <li class="list-group-item">치피 : </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col">
                                <div class="collapse multi-collapse" id="multiCollapseExample4">
                                    <div class="card card-body">
                                        <form>
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">공격력</span>
                                                <input type="text" class="form-control"
                                                    aria-label="Sizing example input"
                                                    aria-describedby="inputGroup-sizing-sm">
                                            </div>
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">치확</span>
                                                <input type="text" class="form-control"
                                                    aria-label="Sizing example input"
                                                    aria-describedby="inputGroup-sizing-sm">
                                            </div>
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">치피</span>
                                                <input type="text" class="form-control"
                                                    aria-label="Sizing example input"
                                                    aria-describedby="inputGroup-sizing-sm">
                                            </div>
                                            <button type="button" class="btn btn-success">입력</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div> -->

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>