<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/chractor.css">
    <script src="js/home/chractor.js" defer></script>
    <title>Chractor page</title>
</head>

<body>
    <h1></h1>
    <p></p>

    <form class="button" method="get">
        <section class="main">
            <div class="wrap wrap--1">
                <div class="container container--1"></div>
            </div>

            <div class="wrap wrap--2">
                <div class="container container--2"></div>
            </div>

            <div class="wrap wrap--3">
                <div class="container container--3"></div>
            </div>
        </section>

        <section class="main">
            <div class="wrap wrap--4">
                <div class="container container--4"></div>
            </div>

            <div class="wrap wrap--5">
                <div class="container container--5"></div>
            </div>

            <div class="wrap wrap--6">
                <div class="container container--6"></div>
            </div>
        </section>
    </form>
</body>

</html>