<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home/home.css">
  <title>SoNB'S GENSHIN NOTEPAD</title>
</head>

<body>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <div class="anime-grill-center">
  </div>
  <div class="anime-grill-offcenter">
  </div>

  <div class="text-lines">
    <div class="line-1">SoNB's</div>
    <div class="line-2">Genshin</div>
    <div class="line-3">Notepad</div>
  </div>

  <div class="site-body">
    <form>
      <div class="buttons">
        <h1>아직 개발중인<code>버튼</code></h1>
        <button class="fill">Fill In</button>
        <button class="pulse">Pulse</button>
        <button class="close">Close</button>
        <button class="raise">Raise</button>
        <button class="up">Fill Up</button>
        <button class="slide">Slide</button>
        <button class="offset">Offset</button>
      </div>
    </form>
  </div>
</body>

</html>

<!-- Copyright (c) 2022 by SELKIE (https://codepen.io/selkie/pen/XWjrMJL) -->
<!-- Copyright (c) 2022 by Giana (https://codepen.io/giana/pen/BZaGyP) -->