<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home/home.css">
  <script src="js/home/Home.js" defer></script>
  <title>SoNB'S GENSHIN NOTEPAD</title>
</head>

<body>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <div class="lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <%- include('../partials/nav') %>

    <div class="anime-grill-center"></div>
    <div class="anime-grill-offcenter"></div>

    <div class="text-lines">
      <div class="line-1">SoNB's</div>
      <div class="line-2">Genshin</div>
      <div class="line-3">Notepad</div>
    </div>

    <div class="site-body effect8">
      <div class="buttons">
        <h1>아직 개발중인<code>버튼</code></h1>

        <form class="button1" method="get">
          <button class="fill" onclick="return submit1(this.form);">
            내 캐릭터
          </button>

          <button class="pulse" onclick="return submit2(this.form);">
            Pulse
          </button>

          <button class="close" onclick="return submit3(this.form);">
            Close
          </button>

          <button class="raise" onclick="return submit4(this.form);">
            Raise
          </button>

          <button class="up">Fill Up</button>
          <button class="slide">Slide</button>
          <button class="offset">Offset</button>
        </form>
      </div>
    </div>
</body>

</html>

<!-- Copyright (c) 2022 by SELKIE (https://codepen.io/selkie/pen/XWjrMJL) -->
<!-- Copyright (c) 2022 by Giana (https://codepen.io/giana/pen/BZaGyP) -->
<!-- Copyright (c) 2022 by Halil İbrahim Nuroğlu (https://codepen.io/haibnu/pen/DrVweV) Box Shadows Effects -->
<!-- Copyright (c) 2022 by Osorina Irina (https://codepen.io/osorina/pen/PQdMOO) -->